body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem;
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.video-result {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1rem;
    width: 280px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
}

a.video-result {
    text-decoration: none;
    color: inherit;
}

.video-result:hover {
    transform: translateY(-5px);
}

.video-result img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.video-result h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.video-result p {
    margin: 0.3rem 0;
    text-align: center;
}

.cart-total {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #2c3e50;
}

.acheter-btn {
    background-color: #7b7b7b;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

.acheter-btn:hover {
    background-color: #218838;
}

.panier_infos {
    display: flex;
    flex-direction: column;
}

.watch {
    color: #3a9704;
}

.password-change {
    margin: 2rem auto;
    max-width: 500px;
    background-color: #f8f8f8;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
.password-change form label,
.password-change form input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}
.password-change form input {
    padding: 0.5rem;
}
.password-change form button {
    margin-top: 1rem;
    padding: 0.7rem;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}



